{% extends "base.html" %}

{% block head_extra %}
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-yH1VnYyTqB0qkqvYqFf6z1CqJf0o0mQ+vY4UoYkTgVQxN9SgDmpyQhHm4mJ8XoF3J1tqkqRk3C3Qy6Q2lZ5Q1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body_class %}login-page{% endblock %}
{% block content %}
<div class="login-container">
    <div class="login-heading">
        <h2>Welcome</h2>
        <h3>Register</h3>
    </div>
    <div class="screen">
        <div class="screen__content">
            <form method="POST" class="login">
                <div class="login__field">
                    <i class="login__icon fa fa-envelope"></i>
                    <input type="email" name="email" class="login__input" placeholder="Email" required autocomplete="email">
                </div>
                <div class="login__field">
                    <i class="login__icon fa fa-lock"></i>
                    <input type="password" name="password" id="reg_password" class="login__input" placeholder="Password" required minlength="6" autocomplete="new-password">
                    <button type="button" class="password-toggle" id="toggleRegPass">SHOW</button>
                </div>
                <button type="submit" class="button login__submit">
                    <span class="button__text">Register</span>
                    <i class="fa fa-user-plus"></i>
                </button>
                <div class="small-links">
                    <a href="/login">Already have an account?</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    (function(){
        const t = document.getElementById('toggleRegPass');
        const p = document.getElementById('reg_password');
        t.addEventListener('click', ()=>{ const is = p.type==='password'; p.type = is? 'text':'password'; t.textContent = is? 'HIDE':'SHOW'; });
    })();
</script>
{% endblock %}
